<p>
  Lista de cursos do portal {{ nomePortal }}
</p>

Exemplo <b>*ngFor</b>
<ul>
  <li *ngFor="let curso of cursos">
    {{ curso }}
  </li>
</ul>

Exemplo <b>Component isolado em modulo</b>
<app-curso-detalhe></app-curso-detalhe>
