<article>
  <p><b>Data Binding</b> - {{ url }}</p>
  <b>Exemplos de IMG</b>
  Interpolation <br><img src="{{ urlImg }}" />
  <!-- Propety Binding <img [src]="urlImg" /><br>
  Bind <img bind-src="urlImg"/> -->
</article>
<b>Capturar valor do Combo</b>
<div>
  <select #classe (change)="0">
      <option value="alert-success">Success</option>
      <option value="alert-danger">Danger</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-info">Info</option>
  </select>
</div>
<b>Propety data Binding</b>
<div class="alert" role="alert"
  [class.alert-success]="classe.value == 'alert-success'"> Success
</div>
<div class="alert" role="alert"
[class.alert-danger]="classe.value == 'alert-danger'"> Danger
</div>
<div class="alert" role="alert"
[class.alert-warning]="classe.value == 'alert-warning'"> Warning
</div>
<div class="alert" role="alert"
[class.alert-info]="classe.value == 'alert-info'"> Info
</div>

<div class="alert {{ classe.value }}"><b>Interpolation</b></div>
<div class="alert alert-danger" role="alert"
  [style.display]="classe.value == 'alert-danger' ? 'block': 'none'">Binding
</div>
<b>Event</b><br>
<button (click)="botaoClicado()"  class="btn btn-primary">
  Me Clique
</button>
<br><br>
<b>KeyUP | KeyUp.Enter | blur</b><br>
<input type="text" placeholder="Exemple for interpolation"
       (keyup)="onKeyUp($event)"
       (keyup.enter)="salvarValor($event.target.value)"
       (blur)="salvarValorB($event.target.value)"  />

<p>Valor atual: {{ valorAtual }}</p>
<p>Salvar Valor Atual: {{ salvarValorAtual }}</p>
<b>Mouse over</b><br>
<span (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver">
      Passe o mousse
</span><br>
<b>One Way Binding</b>
<input type="text"
  [value]="nome"/>
  <b>Two Way Binding</b>
  <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event"/>
  <input type="text" [(ngModel)]="nome"/> <!-- Banana na caixa-->
  <p>{{ nome }}</p>
  <br>
  <b>Two Way Binding Objetos</b>
  <input type="text" [(ngModel)]="pessoa.nome" />
  <input type="text" [(ngModel)]="pessoa.endereco.cidade" />
  <span>Meu nome é {{ pessoa.nome }} moro na cidade {{ pessoa.endereco.cidade }}</span>




