
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#filtro">
    <h3 class="panel-title">
      <i class="fa fa-list"></i>
      Lista de Usuários
    </h3>
  </div>
  <div class="panel-body" id="filtro">
    <table id="dataTable" class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let usuario of usuarios">
          <td>{{usuario.nome}}</td>
          <td>{{usuario.sobreNome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.telefone}}</td>
          <td class="text-center">
              <div class="btn-group">
                  <button type="button"
                          class="btn btn-default btn-sm" (click)="detalheUsuario(usuario)"
                          uib-tooltip="Visualizar">
                      <span class="fa fa-eye"></span>
                  </button>
                  <button type="button"
                          class="btn btn-default btn-sm"
                          uib-tooltip="Editar">
                      <span class="fa fa-pencil"></span>
                  </button>
                  <button type="button"
                          class="btn btn-danger btn-sm"
                          uib-tooltip="Excluir">
                      <span class="fa fa-trash-o"></span>
                  </button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <button ui-sref="cliente.cadastrar" class="btn btn-primary">
      <i class="fa fa-user-plus"></i>
      Novo Usuário
    </button>
  </div>
</div>
