<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

<!-- <meu-primeiro-component></meu-primeiro-component>

<app-meu-primeiro2></app-meu-primeiro2>

<app-cursos></app-cursos>



<app-data-binding></app-data-binding> -->

<div class="pull-left">
  <a [routerLink]="['/', 'radar', 'perfil']" class="btn btn-default btn-flat">Perfil</a>
</div>

<app-usuario-perfil></app-usuario-perfil>
<!-- <app-usuario-novo></app-usuario-novo> -->
<!-- <app-usuario-listar></app-usuario-listar> -->
</div>
