<section class="content">
  <section class="row">
    <section class="boxUsuario col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <section class="box-header cabBoxUser">
        <h3 class="box-title titleBoxUser">Novo Usuário</h3>
      </section>
      <section class="imgBoxUser">
        <section class="pictureUser">
          <img id="img" src="../../../assets/img/face1.jpg" alt="Preview" width="200" height="200">
        </section>
        <label for="File1">
          <input type="file" id="File1" name="image" class="fileupload">
          <span class="labelUpload">Adicionar Foto</span>
        </label>
      </section>
      <section class="inputs">
        <section class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="nomeUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Nome</span>
            <input type="text" id="nomeUsuario" name="nomeUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="sobrenomeUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Sobrenome</span>
            <input type="text" id="sobrenomeUsuario" name="sobrenomeUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="loginUsuarioUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Login</span>
            <input type="text" id="loginUsuario" name="loginUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="senhaUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Senha</span>
            <input type="text" id="senhaUsuario" name="senhaUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-12 col-sm-12 col-xs-12">
          <label for="emailUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Email</span>
            <input type="email" id="emailUsuario" name="emailUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-sm-12 col-xs-12">
          <label for="celularUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Tel. Celular</span>
            <input type="text" id="celularUsuario" name="celularUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-sm-12 col-xs-12">
          <label for="telefoneComercialUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Tel. Comercial</span>
            <input type="text" id="telefoneComercialUsuario" name="telefoneComercialUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-sm-12 col-xs-12">
          <label for="empresaUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Empresa</span>
            <input type="text" id="empresaUsuario" name="empresaUsuario"  value="In Foco Solutions" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-sm-12 col-xs-12">
          <label for="cargoUsuario" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">Cargo</span>
            <input type="text" id="cargoUsuario" name="cargoUsuario" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-sm-12 col-xs-12">
          <label for="codigoDoPlano" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">COD Plano</span>
            <input type="text" id="codigoDoPlano" name="codigoDoPlano" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-6 col-sm-12 col-xs-12">
          <label for="CnpjOuCpf" class="col-lg-12 col-sm-12 col-xs-12 labelsBoxUser">
            <span class="labelInputBoxUser">CNPJ/CPF</span>
            <input type="text" id="CnpjOuCpf"  name="CnpjOuCpf" class="form-control input-lg inputBoxUser">
          </label>
        </section>
        <section class="form-group col-lg-12 col-sm-12 col-xs-12 btns">
          <section class="Salvar col-lg-6 col-sm-6 col-xs-6">
            <button id="btnSalvar" class="col-lg-12 col-sm-12 col-xs-12 btn-Salvar">Salvar</button>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
